<form method="post" enctype="multipart/form-data" action="/upload">
    
    <label for="name"> Name</label>
        <input type="text" name="name" class="input" required/>


    <label for="characteristics">Characteristics</label>
        <input type="text" name="characteristics" class="input" required/>


    <label for="image">Image</label>
   
<input type="file" name="image">

    <input type="submit" value="Submit">
</form>

